<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/module_2.css')}}">
    <title>Subpage 2</title>
</head>
<body>
    <h2>Subpage 2: Insurance Exam Questions</h2>
    <div class="model-select-container">
        <label for="modelSelect">Choose a method:</label>
        <select id="modelSelect">
            <option value="model1">GPT</option>
            <option value="model2">GPT + RAG</option>
            <option value="model3">Ours (InsurBooster)</option>
        </select>
    </div>
    <form onsubmit="submitForm(event)">
        <!-- Questions will be dynamically injected here by JavaScript -->
        <div id="questions-container"></div>
        <input type="submit" value="Submit">
    </form>
    <script src="{{ url_for('static', filename='data/m2_questions.js')}}"></script> <!-- Load questions data -->
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>  <!-- Load fucntions -->
</body>
</html>